@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Vinicius Espinosa de Oliveira<br />
    <br />
    <abbr title="Phone">Phone:</abbr>
    15 99782-6699
</address>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/vinicius-espinosa-de-oliveira/">LinkedIn/vinicius-espinosa-de-oliveira</a>
</address>
